
:root {
  --menuGrey: #B6B6B6; 
}


.App {
  text-align: left;
}


.App-header {
  background-color: var(--menuGrey);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

